# Aquivo de configuração para a GTMax Core A1 v1.
# Esta configuração é baseada na impressora usando toda eletronica original.
# Nesse código consta apenas um upgrade, um sensor de filamento, já que esse modelo foi lançado sem tal funcionalidade.
# Essa configuração foi baseada no Klipper com a interface Mainsail

[include mainsail.cfg]

[stepper_x]
step_pin: PF0
dir_pin: !PF1
enable_pin: !PD7
microsteps: 16
rotation_distance: 40
endstop_pin: ^!PE5
position_endstop: -5
position_min: -5
position_max: 300
homing_speed: 50

[stepper_y]
step_pin: PF6
dir_pin: !PF7
enable_pin: !PF2
microsteps: 16
rotation_distance: 40
endstop_pin: ^!PJ1
position_endstop: 0
position_max: 200
homing_speed: 50

[stepper_z]
step_pin: PL3
dir_pin: !PL1
enable_pin: !PK0
microsteps: 16
rotation_distance: 8
position_max: 250
endstop_pin: probe:z_virtual_endstop
position_min: -4 # The Z carriage may need to travel below the Z=0 homing point if the bed has a significant tilt.
                    
[extruder]
step_pin: PA4
dir_pin: PA6
enable_pin: !PA2
microsteps: 16
rotation_distance: 8.547
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: PB4
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PK5
#control: pid
#pid_Kp: 32.81
#pid_Ki: 3.84
#pid_Kd: 70.15
min_temp: 0
max_temp: 250
max_extrude_only_velocity: 100
max_extrude_only_accel: 3000
min_extrude_temp: 150

[fan]
pin: PH6

[heater_bed]
heater_pin: PH5
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PK6
#control: watermark
min_temp: 0
max_temp: 130

# The safe_z_home section modifies the default G28 behavior
[safe_z_home]
home_xy_position: 168, 143
speed: 50
z_hop: 15

# Define a probe
[probe]
pin: ^PD3
#z_offset: 3.650
samples: 2
#activate_gcode:
#deactivate_gcode:

# Example bed_mesh config section
[bed_mesh]
mesh_min: 27, 63
mesh_max: 295, 193 
probe_count: 5, 4
horizontal_move_z: 10

[gcode_macro G29]
gcode:
  BED_MESH_CALIBRATE
  G1 Z10 F12000
  G1 X8 Y35
  G1 Z1 
  G1 Z10

[display_status]

[display]
lcd_type: hd44780
rs_pin: EXP1_4
e_pin: EXP1_3
d4_pin: EXP1_5
d5_pin: EXP1_6
d6_pin: EXP1_7
d7_pin: EXP1_8
encoder_pins: ^EXP2_3, ^EXP2_5
click_pin: ^!EXP1_2
kill_pin: ^!EXP2_8

[output_pin BEEPER_pin]
pin: EXP1_1
pwm: True
value: 0.
shutdown_value: 0
cycle_time: 0.001

[gcode_macro M300]
gcode:
    # Use a default 1kHz tone if S is omitted.
    {% set S = params.S|default(1000)|int %}
    # Use a 10ms duration is P is omitted.
    {% set P = params.P|default(100)|int %}
    SET_PIN PIN=BEEPER_pin VALUE=0.5 CYCLE_TIME={ 1.0/S if S > 0 else 1 }
    G4 P{P}
    SET_PIN PIN=BEEPER_pin VALUE=0

[board_pins]
aliases:
    # Common EXP1 header found on many "all-in-one" ramps clones
    EXP1_1=PC0, EXP1_3=PH0, EXP1_5=PA1, EXP1_7=PA5, EXP1_9=<GND>,
    EXP1_2=PC2, EXP1_4=PH1, EXP1_6=PA3, EXP1_8=PA7, EXP1_10=<5V>,
    # EXP2 header
    EXP2_1=PB3, EXP2_3=PC6, EXP2_5=PC4, EXP2_7=PL0, EXP2_9=<GND>,
    EXP2_2=PB1, EXP2_4=PB0, EXP2_6=PB2, EXP2_8=PG0, EXP2_10=<RST>
    # Pins EXP2_1, EXP2_6, EXP2_2 are also MISO, MOSI, SCK of bus "spi"

[mcu]
serial: /dev/serial/by-id/usb-1a86_USB_Serial-if00-port0

[printer]
kinematics: corexy
#max_velocity: 200
max_velocity: 100
#max_accel: 2000
max_accel: 1500 #para a maioria das impressões
#max_z_velocity: 50
max_z_velocity: 20
#max_z_accel: 1000
max_z_accel: 100
square_corner_velocity: 1

######################################################################
# Códigos Upgrades
######################################################################

# --------------------------------------------------
# Suporte para comandos gcode arc (G2/G3).
# --------------------------------------------------
[gcode_arcs]
resolution: 0.5

# --------------------------------------------------
# Sensor de filamento
# --------------------------------------------------
[pause_resume]

#[filament_switch_sensor e0_sensor]
#pause_on_runout: True
#   When set to True, a PAUSE will execute immediately after a runout
#   is detected. Note that if pause_on_runout is False and the
#   runout_gcode is omitted then runout detection is disabled. Default
#   is True.
#runout_gcode:
#    M600
#   A list of G-Code commands to execute after a filament runout is
#   detected. See docs/Command_Templates.md for G-Code format. If
#   pause_on_runout is set to True this G-Code will run after the
#   PAUSE is complete. The default is not to run any G-Code commands.
#insert_gcode:
#    insert_filament
#   A list of G-Code commands to execute after a filament insert is
#   detected. See docs/Command_Templates.md for G-Code format. The
#   default is not to run any G-Code commands, which disables insert
#   detection.
#event_delay: 3.0
#   The minimum amount of time in seconds to delay between events.
#   Events triggered during this time period will be silently
#   ignored. The default is 3 seconds.
#pause_delay: 0.5
#   The amount of time to delay, in seconds, between the pause command
#   dispatch and execution of the runout_gcode. It may be useful to
#   increase this delay if OctoPrint exhibits strange pause behavior.
#   Default is 0.5 seconds.
#switch_pin: ^!PK1

[gcode_macro M600]
gcode:
    {% set X = params.X|default(50)|float %}
    {% set Y = params.Y|default(0)|float %}
    {% set Z = params.Z|default(10)|float %}
    SAVE_GCODE_STATE NAME=M600_state
    PAUSE
    G91
    G1 E-.8 F2700
    G1 Z{Z}
    G90
    G1 X{X} Y{Y} F3000
    G91
    G1 E-50 F1000
    RESTORE_GCODE_STATE NAME=M600_state
	
[gcode_macro insert_filament]
gcode:
    {% set X = params.X|default(50)|float %}
    {% set Y = params.Y|default(0)|float %}
    {% set Z = params.Z|default(10)|float %}
    SAVE_GCODE_STATE NAME=M600_state
    PAUSE
    G91
    G1 E-.8 F2700
    G1 Z{Z}
    G90
    G1 X{X} Y{Y} F3000
    G91
    G1 E-50 F1000
    RESTORE_GCODE_STATE NAME=M600_state

# --------------------------------------------------
# 
# --------------------------------------------------
[gcode_macro CANCEL_PRINT]
description: Cancel the actual running print
rename_existing: CANCEL_PRINT_BASE
gcode:
   #https://klipper.info/macro-examples-1/aboms-cancel_print
   M220 S100 ; Reset Speed factor override percentage to default (100%)
   M221 S100 ; Reset Extrude factor override percentage to default (100%)
   G91 ; Set coordinates to relative
   {% if printer.extruder.temperature >= 170 %}
      G1 F1800 E-3; Retract filament 3 mm to prevent oozing
   {% endif %}
   G90 ; Set coordinates to absolute
   {% if printer.toolhead.homed_axes == "xyz" %}
   G0 X0 Y100 F4000;
   TURN_OFF_HEATERS
   #M104 S0 ; DESLIGA AQUECIMENTO BICO
   #M140 S0 ; DESLIGA AQUECIMENTO MESA
   {% endif %}
   M84 ; DESLIGA MOTORES
   M106 S0 ; DESLIGA VENTILADOR
   CANCEL_PRINT_BASE

# --------------------------------------------------
# Suporte ao gcode M486 (cancelar objetos)
# --------------------------------------------------
[exclude_object]

[gcode_macro M486]
gcode:
  # Parameters known to M486 are as follows:
  #   [C<flag>] Cancel the current object
  #   [P<index>] Cancel the object with the given index
  #   [S<index>] Set the index of the current object.
  #       If the object with the given index has been canceled, this will cause
  #       the firmware to skip to the next object. The value -1 is used to
  #       indicate something that isn’t an object and shouldn’t be skipped.
  #   [T<count>] Reset the state and set the number of objects
  #   [U<index>] Un-cancel the object with the given index. This command will be
  #       ignored if the object has already been skipped

  {% if 'exclude_object' not in printer %}
    {action_raise_error("[exclude_object] is not enabled")}
  {% endif %}

  {% if 'T' in params %}
    EXCLUDE_OBJECT RESET=1

    {% for i in range(params.T | int) %}
      EXCLUDE_OBJECT_DEFINE NAME={i}
    {% endfor %}
  {% endif %}

  {% if 'C' in params %}
    EXCLUDE_OBJECT CURRENT=1
  {% endif %}

  {% if 'P' in params %}
    EXCLUDE_OBJECT NAME={params.P}
  {% endif %}

  {% if 'S' in params %}
    {% if params.S == '-1' %}
      {% if printer.exclude_object.current_object %}
        EXCLUDE_OBJECT_END NAME={printer.exclude_object.current_object}
      {% endif %}
    {% else %}
      EXCLUDE_OBJECT_START NAME={params.S}
    {% endif %}
  {% endif %}

  {% if 'U' in params %}
    EXCLUDE_OBJECT RESET=1 NAME={params.U}
  {% endif %}

# --------------------------------------------------
# Macos customizadas
# --------------------------------------------------
[gcode_macro CONFIGURAR_ABS]
gcode:
   SET_PRESSURE_ADVANCE ADVANCE=0.5;

[gcode_macro Inserir_Filamento]
gcode:
  M83
  M109 S170
  M117 Esperando Temp
  M104 S233
  M117 Carregando Filamento
  G1 E50 F1200
  G1 E50 F1200
  G1 E50 F1200
  G1 E50 F1200
  G1 E50 F1200
  G1 E50 F1200
  G1 E50 F1200
  G1 E50 F1200
  G1 E50 F1200
  G1 E50 F1200
  G1 E50 F1200
  G1 E50 F1200
  G1 E50 F1200
  G1 E50 F300
  M400
  M109 S233
  M117 Carregando Filamento
  G1 E50 F200
  M400
  M300 S600 P500  

[gcode_macro Retirar_Filamento]
gcode:
  M83
  M109 S230
  M104 S200
  M117 Retirando Filamento
  G1 E50 F300
  M400
  M109 S200
  M104 S170
  M117 Retirando Filamento
  G1 E-50 F200
  G1 E-50 F200
  M400
  M109 S170
  M117 Retirando Filamento
  G1 E-50 F1200
  G1 E-50 F1200
  G1 E-50 F1200
  G1 E-50 F1200
  G1 E-50 F1200
  G1 E-50 F1200
  G1 E-50 F1200
  G1 E-50 F1200
  G1 E-50 F1200
  G1 E-50 F1200
  G1 E-50 F1200
  G1 E-50 F1200
  G1 E-50 F1200
  G1 E-50 F1200
  M400
  M117 Carregar Filamento
  M300 S4 P500
  M400
  M104 S0
  M140 S0
  M84
  M300 S600 P500

#[gcode_macro FF_DONE]
#gcode:
#  M300 S587 P64 ;note1
#  G4 P64
#  M300 S587 P64 ;note2
#  G4 P64
#  M300 S587 P64 ;note3
#  G4 P64
#  M300 S587 P294 ;note4
#  G4 P16
#  M300 S466 P294 ;note5
#  M300 S523 P294 ;note6
#  M300 S587 P128 ;note7
#  G4 P128
#  M300 S523 P128 ;note8
#  M300 S587 P628 ;note9

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	  -2.773750, -2.452500, -2.147500, -1.817500, -1.448750
#*# 	  -1.575000, -1.260000, -0.967500, -0.671250, -0.320000
#*# 	  -0.351250, -0.058750, 0.200000, 0.470000, 0.815000
#*# 	  0.813750, 1.095000, 1.348750, 1.587500, 1.910000
#*# x_count = 5
#*# y_count = 4
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = lagrange
#*# tension = 0.2
#*# min_x = 27.0
#*# max_x = 295.0
#*# min_y = 63.0
#*# max_y = 192.99
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 26.112
#*# pid_ki = 1.612
#*# pid_kd = 105.752
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 67.822
#*# pid_ki = 2.540
#*# pid_kd = 452.713
#*#
#*# [probe]
#*# z_offset = 3.350
